@model WebSite.Models.Order

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model=>model.firstName,new {@class="control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.firstName)
                @Html.ValidationMessageFor(model=>model.firstName,"",new { @class="text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cardNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cardNumber)
                @Html.ValidationMessageFor(model => model.cardNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailConfirm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailConfirm)
                @Html.ValidationMessageFor(model => model.EmailConfirm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
             </div>
        </div>
    </div>
}

@section Scripts{
    
<script src="~/Scripts/CustomValidators.js"></script>
    }